body {
	background: url(../../assets//img/teste.jpg);
	font-family: 'Courier New', Courier, monospace;
}

html, body {
	height: 100%;
	overflow-x: hidden;
}

.chat-messages {
    background-color: white;
    margin-left: 400px;
    margin-top: 50px;
    margin-right: 400px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 3px solid #00a2e8;
    overflow-wrap: break-word;
  }
  
  .chat-messages p {
    word-wrap: break-word;
  }
  

.titulo{
    color: #0a95ff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-align: center;
}

.caixa-enviar{
    background-color: #8bb2eb;
    height: 50px;
    padding: 10px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.caixa-text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 18px;
    flex-wrap: nowrap;
}

.enviar{
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
}

.mensagem{
    justify-content: space-between;
    background-color: #8bb2eb;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    align-items: center;
}
.bnt{
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    padding-top: 5px;
}

.bnt2{
    margin-left: 350px;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    padding-top: 5px;
}

.edit-text{
    background-color: #8bb2eb;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;;
}
  

